@import "../../styles/mixins";
@import "../../styles/variables";

.project {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $bg-black;
  &__title {
    font-weight: bold;
    font-size: $h1;
    margin: 10vh auto 5vh;
    border-bottom: 5px solid;
    border-image: linear-gradient(to left, $text-link 70%, transparent 30%) 100%
      1;
  }
  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 0 $h1;
    gap: 1%;
    height: 80vh;
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    &__item {
      scroll-snap-align: center;
      display: flex;
      justify-content: space-between;
      font-size: $h3;
      &__meta {
        transition: all $s5 ease-in-out;
        width: 49%;
        opacity: 0;
        transform: translateX(-100%);
        &--open {
          opacity: 1;
          transform: translateX(0);
          background: red;
        }
      }
      &__metaLeft {
        width: 49%;
        transition: all $s5 ease-in-out;
        opacity: 0;
        transform: translateX(100%);
        &--open {
          opacity: 1;
          transform: translateX(0);
          background: red;
        }
      }
      &__thumbnail {
        width: 49%;
        height: 70vh;
        display: flex;
        justify-content: center;
        position: relative;
        @include BackgroundImage;
        &__cover {
          position: absolute;
          background: $text-black;
          opacity: 0.5;
          height: 100%;
          width: 100%;
        }
        img {
          filter: none;
          opacity: 1;
          position: relative;
          transition: all 2s ease-in-out;
          scale: calc(0.5);
        }
        &:hover {
          img {
            scale: calc(1);
            opacity: 0.5;
          }
        }
        &:nth-child(2) {
          img {
            scale: calc(0.3);
          }
          &:hover {
            img {
              scale: calc(0.6);
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
