@import "variables";
@import "mixins";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}

body {
  font-family: $main-font;
  color: $text-white;
  min-height: 100vh;
  min-width: $min-width;
  background: $bg-black;
  position: relative;
  overflow-y: auto;
  scroll-behavior: smooth;
}

html {
  scroll-snap-type: y proximity;
}

@include breakpoint(lg) {
  html {
    scroll-snap-type: y mandatory;
  }
}
