@import "../../styles/mixins";
@import "../../styles/variables";

.about {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $bg-black;
  &__title {
    font-weight: bold;
    font-size: $h1;
    margin: 10vh auto 0;
    border-bottom: 5px solid;
    border-image: linear-gradient(to left, $text-link 70%, transparent 30%) 100%
      1;
  }
  &__section {
    display: block;
    margin: auto;
    min-height: 60vh;
    &__image {
      @include BackgroundImage;
      min-height: 60vh;
      min-width: 40vw;
      width: 90%;
      margin: $spacing-lg auto 0;
    }
    &__content {
      padding: 0 $spacing-lg;
      margin: $spacing-lg auto 0;
      min-width: $min-width;
      display: flex;
      flex-direction: column;
      b {
        color: $text-link;
      }
      &__title {
        font-weight: bold;
        font-size: $h1;
      }
      &__subtitle {
        font-size: $h4;
        margin: $spacing-md 0 $spacing-lg;
      }
      &__description {
        font-size: $h4;
        display: flex;
        flex-direction: column;
        a {
          color: $text-link;
          transition: all $s5;
          &:hover {
            color: $text-white;
          }
        }
      }
      &__info {
        margin-top: $spacing-lg;
        display: flex;
        gap: $spacing-lg;
        flex-wrap: wrap;
        div {
          flex: 1 0 100%;
          display: flex;
          vertical-align: middle;
          svg {
            font-size: $h1 * 1.3;
          }
        }
        @include breakpoint(sm) {
          div {
            flex: 1 0 40%;
          }
          @include breakpoint(lg) {
            div {
              flex: 1 0 80%;
            }
            @include breakpoint(xxl) {
              div {
                flex: 1 0 40%;
              }
            }
          }
        }

        &__content {
          display: flex;
          margin-left: $spacing-sm;
          flex-direction: column;
          justify-content: space-around;
          font-size: $h5;
          &__title {
            font-size: $h3;
            font-weight: bold;
          }
        }
      }
    }
    @include breakpoint(lg) {
      display: flex;
      &__content {
        margin: auto 0;
        width: 40vw;
      }
      &__image {
        width: 40vw;
      }
    }
  }
}
