@import "../../styles/mixins";
@import "../../styles/variables";

.home {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  &__title {
    margin-bottom: $spacing-lg;
    color: $text-white;
    font-weight: bold;
    font-size: $h1 * 2;
    text-align: center;
    @include breakpoint(sm) {
      display: flex;
    }
    p {
      color: $text-link;
    }
  }
  &__subtitle {
    display: flex;
    justify-content: center;
    width: 100%;
    span {
      font-weight: bold;
    }
  }
}
