@import "../../styles/mixins";
@import "../../styles/variables";

.contact {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include BackgroundGradient-Purple;
  &__section {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin: auto;
    padding: 10vh;
    min-height: 60vh;
    @include BackgroundGradient-Egg;
    &__title {
      background: $text-black;
      height: 10vh;
      flex: 1 0 115%;
      display: flex;
      p {
        font-weight: bold;
        font-size: $h1;
        margin: auto 0;
        margin-left: 5%;
        border-bottom: 5px solid;
        border-image: linear-gradient(to right, $text-link 70%, transparent 30%)
          100% 1;
      }
    }
    &__form {
      flex: 1 0 40%;
      height: 60vh;
      padding: 5%;
      color: $text-link;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__input {
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid $text-black;
        width: 80%;
        height: 20%;
        font-size: $h6;
        transition: all $s3 ease-in-out;
        &:focus {
          outline: none;
          border-bottom: 3px solid $text-link;
        }
        &--textarea {
          height: 40%;
        }
      }
      &__submit {
        margin-left: 55%;
        width: 20%;
        height: 10%;
        color: $text-white;
        background: $button;
        border: none;
        transition: all $s7 ease-in-out;
        font-weight: bold;
        &:hover {
          @include BoxShadow;
          width: 25%;
          height: 6vh;
          background: $text-black;
          color: $text-link;
        }
      }
    }
    &__meta {
      @include BackgroundGradient-Space;
      flex: 1 0 20%;
      height:60vh;
      transform: translateY(-20vh);
      display: flex;
      flex-direction: column;
      &__title {
        transform: translateY(10vh);
        display: flex;
        align-items: center;
        height: 10vh;
        @include GlassBackground;
        p {
          text-transform: uppercase;
          margin-left: 15%;
          color: $text-link;
          font-weight: bold;
          font-size: $h2;
        }
      }
      &__content {
        transform: translateY(10vh);
        margin-left: 15%;
        margin-top: 10%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          svg {
            color: $text-link;
            margin: auto 5% auto 0;
          }
        }
      }
      &__link {
        @include GlassBackground;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $header-height;
        align-items: center;
        display: flex;
        a {
          margin-left: 15%;
          color: $text-white;
          transition: all $s5 ease-in-out;
          svg{
            font-size: $h1;
          }
          &:hover{
            color:$text-link;
          }
          &:last-child{
            margin-left:10%;
          }
        }
      }
    }
  }
}
