@import "../../styles/mixins";
@import "../../styles/variables";

.header {
  position: fixed;
  height: $header-height;
  bottom: $header-height;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1001;
  transition: all $s5 ease-in-out;
  width: 20%;
  border-radius: $spacing-lg;
  &--scrolled {
    @include GlassBackground;
  }
  &__group {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;

    &__item {
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      margin: auto;
      width: $header-height;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: all $s5;
      &:hover {
        background: $text-black;
        a {
          color: $text-link;
        }
      }
      a {
        color: $text-black;
        transition: all $s5;
        svg {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: $h1;
        }
      }

      &--active {
        background: rgba($text-black,0.4);
        a {
          color: $text-link;
        }
      }
    }
  }
}
